# This file is in here to serve the local development using Merlin

commands:

- name: connect
  description: Establish connection to cluster
  program: telepresence
  env:
  - KUBECONFIG={{ .Merlin.kube.path }}
  args:
  - -s
  - {{ .Merlin.kube.namespace }}-{{ .Merlin.name }}
  - --namespace
  - {{ .Merlin.kube.namespace }}
  - --run-shell
 
- name: start
  description: Start nodejs application
  program: node
  env:
  - FORMAT_LOGS_TO_ELK=false
  args:
  - --inspect={{ GetAvailablePort }}
  - {{ .Values.program }}





