# dependency charts
**/charts/*.tgz
*.tgz


# decrypted files
**/*-dec.yaml

.env
.vscode/

# secret files
service-account.json

codefresh/requirements.lock

# junk files
QUESTIONS.md
out/
darwin-amd64/
index.yaml
**/.DS_Store