# dependency charts
**/charts/*.tgz
*.tgz


# decrypted files
**/*-dec.yaml

# backup files
**/bak/*

.env
.vscode/

# secret files
service-account.json

# junk files
QUESTIONS.md
out/
darwin-amd64/
index.yaml
**/.DS_Store
*.orig
.idea/

# dry-run templates from `helm template` output
dry-run/**
**/values-dev.yaml
**/dry-run.yaml