env/*
regsecret-*
values-*

# backup files
bak/*
*.orig
*.bak

# files dir
files/dynamic/*
files/load/*
files/production/*
files/staging/*

# deprecated charts
cf-db-chart/*
pv-charts/rabbitmq/*
pv-charts/redis/*