version: 0.0.1
operators:

- name: create
  type: cmd
  description: "Ensure namespace not exist"
  spec:
    program: kubectl
    args:
    - --context
    - {{ .Merlin.kube.context }}
    - create
    - namespace
    - {{ .Merlin.name }}

- name: create
  type: cmd
  description: "Switch to codefresh relevant context"
  spec:
    program: codefresh
    args:
    - auth
    - use-context
    - {{ .Merlin.codefresh.context }}

- name: create
  type: cmd
  description: "Run codefresh pipeline"
  spec:
    program: codefresh
    args:
    - run
    - codefresh-io/cf-helm/create-dynamic-env
    - -b
    - master
    - -v
    - NAMESPACE_NAME={{ .Merlin.name }}

- name: create
  type: cmd
  description: "Test the environment to be up and running"
  spec:
    program: bash
    args:
    - -c
    - 'while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' http://{{ .Merlin.name }}.dev.codefresh.io)" != "200" ]]; do echo "No ready yet, testing again in 5..." && sleep 5; done'


- name: delete
  type: cmd
  description: "Delete namespace"
  spec:
    program: kubectl
    args:
    - --context
    - {{ .Merlin.kube.context }}
    - delete
    - namespace
    - {{ .Merlin.name }}

components:
- name: cfapi
  spec:
    git: &git
      owner: codefresh-io
      repo: cf-helm
      revision: master
      path: codefresh/local-charts/cfapi/component.yaml.tmpl
  values:
    - git: &nodejs-local-values
        <<: *git
        path: codefresh/env/dynamic/nodejs-local-values.yaml
    - git:
        <<: *git
        # need some extra values from cfapi values
        path: codefresh/local-charts/cfapi/values.yaml
- name: context-manager
  spec:
    git: 
     <<: *git
     path: codefresh/local-charts/context-manager/component.yaml.tmpl
  values:
    - git: *nodejs-local-values
- name: pipeline-manager
  spec:
    git:
     <<: *git
     path: codefresh/local-charts/pipeline-manager/component.yaml.tmpl
  values:
    - git: *nodejs-local-values
- name: segment-reporter
  spec:
    path: /Users/olsynt/workspace/CF/cf-helm/codefresh/local-charts/segment-reporter/component.yaml.tmpl
    git:
     <<: *git
     path: codefresh/local-charts/segment-reporter/component.yaml.tmpl
  values:
    - git: *nodejs-local-values
    - git:
        <<: *git
        path: codefresh/local-charts/segment-reporter/values.yaml
- name: runtime-environment-manager
  spec:
    git:
     <<: *git
     repo: runtime-environment-manager
     path: runtime-environment-manager/component.yaml.tmpl
  values:
    - git: *nodejs-local-values
